body {
    background-color: rgba(0, 204, 187, 0.47)
}
img { 
    height: 120px;
    margin: 10px;
    box-shadow: 0 9px #999 !important;
}
img:active {
    box-shadow: 0 5px #666 !important;
    transform: translateY(4px) !important;   
}
.border {
    border-width: 3px !important;
}
.attribution {
    font-size: 10px;
}
.title {
    padding: 0.5em 0.6em !important;
}