img { 
    height: 120px;
    margin: 10px;
}
.border {
    border-width: 3px !important;
}
.attribution {
    font-size: 10px;
}

.jewel { 
    box-shadow: 0 9px #999 !important;
  }

.jewel:active {
    box-shadow: 0 5px #666 !important;
    transform: translateY(4px) !important;   
}

.jumbotron {
    padding: 0.5em 0.6em !important;
}